<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 299,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 349,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 358,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
	<app-card
	gameCover="assets/bt-god.jpg"
	gameLabel="INTERACTIVE"
	gameType="DIGITAL | PS3 PS4 PS5"
	gamePrice="R$ 329,99"
>
</app-card>
<app-card
gameCover="assets/bt-last.jpg"
gameLabel="ENTERTAINMENT"
gameType="DIGITAL | PS3 PS4 PS5"
gamePrice="R$ 349,99"
>
</app-card>
</div>

